* {
    font-family: 'Amatic SC', cursive;
}

html {
    height: 100%;
    background: linear-gradient(
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.1)), url("img/menu_content_bg.png");
    background-size: cover;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#titlebar {
    height: 120px;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    text-shadow: 4px 4px 4px #2d2d2d;
    letter-spacing: 0.3em;
    padding-top: 40px;
    position: relative;
    z-index: -1;
}

#nav_container {
    width: 100%;
    height: 80px;
    float: left;
}

.left {
    left: 20%;
}

.right {
    right: 20%;
}

#first_nav, #second_nav {
    width: 50%;
}

#first_nav {
    float: left;
}

#second_nav {
    float: right;
}

.nav_elem {
    background-color: #000;
    color: #fff;
}

.nav_elem ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav_elem li {
    float: left;
    background-color: #000;
    color: #fff;
}

.inner_menu, .inner_menu_js {
    width: 33.333%;
    height: 60px;
    font-size: 1.8em;
    letter-spacing: 0.08em;
    text-align: center;
    position: relative;
    padding-top: 20px;
    transition: 700ms ease;
}

.inner_menu ul, .inner_menu_js ul {
    display: none;
    margin-top: 19px;
    transition: 800ms;
}

.inner_menu:hover ul {
    display: block;
    top: 80px;
}

.inner_menu:hover .title_line {
    width: 40%;
}

.inner_menu li, .inner_menu_js li {
    float: none;
    padding: 10px 0;
    background-color: rgba(45,45,45,0.8);
}

.inner_menu li:hover, .inner_menu_js li:hover {
    background-color: rgba(100,100,100,1.0);
}

.title_line {
    height: 3px;
    width: 0%;
    background-color: #fff;
    margin: 0 auto;
    transition: 500ms;
}

.textbox {
    width: 37%;
    padding: 10px;
    border-radius: 15px;
    background-color: #ccc1ad;
    border: 1px solid #e0c99f;
    margin: 30px 5%;
    line-height: 2em;
    font-size: 1.2em;
}

#content, .left_align {
    float: left;
}

.right_align {
    float: right;
}

/* Narrow screen settings */
@media only screen and (max-width: 1550px) {
    .nav_title {
        width: 20%;
    }
}